# Variáveis não secretas para o formulário Environment variables do Portainer.
APP_IMAGE=psychologist-website:1.0.0
APP_HOST=rosemarydias.com
TRAEFIK_PUBLIC_NETWORK=network_swarm_public
TRAEFIK_HTTP_ENTRYPOINT=web
TRAEFIK_HTTPS_ENTRYPOINT=websecure
TRAEFIK_CERTRESOLVER=letsencryptresolver
SMTP_USERNAME=jeffersonoliveira1212@gmail.com
CONTACT_RECIPIENT=jeffersonoliveira1212@gmail.com
